#loaderContainerContactUs{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
#contact1{
width: 30%;
}
#contact2{
margin-top: 4rem;
font-family: 'Poppins';
font-size: small;
font-weight: 500;
}
#contact3{
font-size: medium;
}
#contact4 {
    overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}