#ms1 {
    color: rgb(252, 57, 115);
    height: 2em;
    width: 2em;
    float: right;
    margin: 1rem 0 1rem 0;
}
#ms2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}