#asm1 {
    border-top: none;
}
#asm2 {
    border-bottom: none;
}
#asm3 {
    float: right;
    padding: 0 1rem 0 1rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
}
#asm4 {
    margin-top: 2rem;
}